@model PM2HAHA.Models.MstDataRaw

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MstDataRaw</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aqi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aqi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Idx)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idx)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Co)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Co)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.H)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.H)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.No2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.No2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.O3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.O3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pm10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pm10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pm25)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pm25)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.So2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.So2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.T)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.T)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
